<ion-header>
	<ion-toolbar>	   
		<ion-title>
			Emprestimos Realizados
		</ion-title>
	</ion-toolbar>
</ion-header>



<ion-content padding>
	<ion-select placeholder="Todos" [(ngModel)]="filter" (ionChange)="filtrar()">
		<ion-select-option value="todos" selected>Todos</ion-select-option>
		<ion-select-option value="emprestados">Emprestados</ion-select-option>
		<ion-select-option value="devolvidos">Devolvidos</ion-select-option>
	</ion-select>
	
	<ion-list>	
		<emprestimos *ngFor="let emprestimo of emprestimos; let i = index" [renderEmprestimos]="callback" [index]="i" [emprestimo]="emprestimo"></emprestimos>
	</ion-list>
</ion-content>
