<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title>Cadastro de itens</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    
    <form [formGroup]="formularioEmprestimo">
      <div>
        <ion-item>
          <ion-input formControlName="nome" (keyup)="atualizaStatusForm()" placeholder="Nome do usuário" type="text" name="nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="qtd" (keyup)="atualizaStatusForm()" [attr.max]="item.qtd" placeholder="Quantidade" type="number" name="qtdDisponivel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="nomeProduto" readonly type="text" name="produto"></ion-input>
        </ion-item>
      </div>
    
    </form>
  </ion-content>
  
  <ion-footer>
    <ion-button class="save-button" expand="full" shape="round" type="submit" (click)="save()" block>Salvar</ion-button>
    <ion-button color="danger" expand="full" shape="round" type="submit" (click)="backToList()" block>Cancelar</ion-button>
  </ion-footer>
  