.content{
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.content > div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description{
    font-size: 0.8rem;
    color: gray;
    font-weight: bold;
}