<ion-item-sliding >
	<ion-item>
		<ion-thumbnail>
			<ion-img style="width: 65px; height: 65px;" src="{{item.imagem}}"></ion-img>
		</ion-thumbnail>
		<div class="content">
			<div>
				<ion-label class="description">Nome:</ion-label>
				<ion-label>{{ item.nome }}</ion-label>
			</div>
			<div>
				<ion-label class="description">Disponiveis:</ion-label>
				<ion-label>{{ item.qtd }}</ion-label>
			</div>
		</div>
	</ion-item>
	<ion-item-options side="start">
		<ion-item-option color="success" (click)="shareItem()" expandable>
			<ion-icon name="share" slot="icon-only"></ion-icon>
		</ion-item-option>
		<ion-item-option color="danger" (click)="deleteItem()" expandable>
			<ion-icon name="trash" slot="icon-only"></ion-icon>
		</ion-item-option>
	</ion-item-options>
</ion-item-sliding>