<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="item-list">
      <ion-icon name="list"></ion-icon>
      <ion-label>Itens</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="emprestimo-list">
      <ion-icon name="share"></ion-icon>
      <ion-label>Emprestimos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>