.container{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.devolvido{
    color:green;
}
.emprestado{
    color: yellow;
}

.sub-content{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: flex-end;
}

.flex-center{
    display:flex;
    align-items: center;
}

.column {
    flex-direction: column;
}


ion-card {
    width: 100%;
    flex-direction: column;
    padding:10px;
}

.sub-content > div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
}

.content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description{
    font-size: 0.8rem;
    color: gray;
    font-weight: bold;
}