<ion-item lines="none" (click)="confirmDevolucao()">
	<ion-card class="flex-center">
		<ion-img style="width: 65px; height: 65px;" src="{{emprestimo.item.imagem}}"></ion-img>
		<div class="container">
			<div class="sub-content">
				<div>
					<ion-label class="description">Nome do Usuário</ion-label>
					<ion-label>{{ emprestimo.usuario.nome }}</ion-label>
				</div>
				<div>
					<ion-label class="description">Nome do Item</ion-label>
					<ion-label>{{ emprestimo.item.nome }}</ion-label>
				</div>
			</div>
			
			<div class="sub-content">
				<div>
					<ion-label class="description">Qtd Emprestada</ion-label>
					<ion-label>{{ emprestimo.item.qtd }}</ion-label>
				</div>
				<div>
					<ion-label class="description">Data Emprestimo</ion-label>
					<ion-label>{{ dataEmprestimo() }}</ion-label>
				</div>
			</div>
			<div class="flex-center column">
				<ion-badge [color]="emprestimo.dataDevolucao ? 'success' : 'warning'">{{getLabelStatus()}}</ion-badge>
			</div>
		</div>
	</ion-card>
</ion-item>