<ion-header>
	<ion-toolbar>
		<button ion-button menuToggle right>
			<ion-icon name="menu"></ion-icon>
		</button>
				 
			   
		<ion-title>
			Itens disponiveis
		</ion-title>
	</ion-toolbar>
</ion-header>



<ion-content padding>
	<ion-list no-lines>	
		<itens *ngFor="let item of itensDisponiveis; let i = index" [renderItens]="callback" [index]="i" [item]="item"></itens>
	</ion-list>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="go('item/cadastro')"><ion-icon name="add"></ion-icon></ion-fab-button>
	</ion-fab>
</ion-content>
