<ion-header>
  <ion-toolbar>
	<ion-buttons slot="start">
		<ion-back-button></ion-back-button>
	</ion-buttons>
    <ion-title>Cadastro de itens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	
	<form [formGroup]="formularioItem">
		<div>
			<ion-item>
				<ion-input formControlName="nome" placeholder="Nome" type="text" name="nome"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input formControlName="qtd" placeholder="Quantidade" type="number" name="qtdDisponivel"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input accept="image/*" (change)="conImage($event)" placeholder="Imagem" type="file" name="imagem"></ion-input>
			</ion-item>
		</div>
	
	</form>
</ion-content>

<ion-footer>
	<ion-button class="save-button" expand="full" shape="round" type="submit" (click)="salvaItem()" block>Salvar</ion-button>
	<ion-button color="danger" expand="full" shape="round" type="submit" (click)="backToList()" block>Cancelar</ion-button>
</ion-footer>
